.notification {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb(90 232 146 / 100%);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out;

  &.show {
    display: block;
  }
}
